#daimei{
  width: 100%;
}

body{
    background-color: #FFA3A3;
}


.left img{
  margin: 0%;
  padding: 0%;
  width: 48em;
  height: 32em;
  margin-right: 4em;
}
.right img{
  margin: 0;
  padding: 0%;
  width: 46em;
  height: 32em;
  margin-left: 3.75em;
}


main .flex{
  display: flex;
  margin: 11em 0;
  /* justify-content: ce; */
}
.m-left{
  margin-right: 4em;
  /* margin-left: em; */
}

.m-right{
  margin-left: 2em;
}
/* ラインマーカー */
.icon,.iconA,.iconB:before {
    content: "";
    padding-right: 10px;
    border-left: 25px solid #FFFFA3;
}


.icon1,.icon2:before {
  content: "";
  padding-right: 10px;
  border-left: 25px solid #FFFFA3;
}
/* ラインマーカー */


/* 右のやつ */
.icon{
  /* text-align: right; */
  font-size: 3em;
}

.iconA{
  font-size: 3em;
}
.iconB{
  font-size: 2em;
}
/* 右のやつ */


/* 左のやつ */
.icon1{
  /* text-align: left; */
  font-size: 3em;
}

.icon2{
  font-size: 3em;
  /* text-align: left; */
}
/* 左のやつ */

/* 文章 */
.tekisuto{
  margin: 3em 0 5.8em 0;
  /* left: 61%; */
  width: 16em;
  /* bottom: 30px; */
  font-size: 1.7em;
}

.tekisuto1{
  width: 16em;
  margin: 3em 0 4em 0;
  font-size: 1.7em;
}

.tekisuto2{
  width: 16em;
  margin: 3em 0 4.3em 0;
  font-size: 1.7em;
}
.tekisuto3{
  width: 16em;
  margin: 3em 0 2.8em 0;
  font-size: 1.7em;
}
.tekisuto4{
  width: 16em;
  margin: 3em 0 3.8em 0;
  font-size: 1.7em;
}
/* 文章 */

/* 遷移 */


/* 遷移 */



  /* リンク */
main a{
    font-size: 1.72em;
    color: #FFFFA3;
    margin: auto 0 0 0;
}

.a3{
  font-size: 1.6em;
}

.a5{
  font-size: 1.65em;
}
  /* リンク */

main{
  margin-bottom: 100px;
}
