@charset "utf-8";



body{
    background-color: gainsboro;
    font-family: "ta-koigokoro", serif;
    background:linear-gradient(#74FFA3, #8BF8E1, #A6FFEC, #CEFFF6);
}

header {
    background-color: white;
    width: 1260px;
    height: 160px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 50px 50px;
  }
  
  .logo {
    width: 500px;
    margin-top: 50px;
    margin-left: 30px;
  }
  
  .global-nav {
    display: flex;
    margin-top: 60px;
  }
  
  .global-nav li {
    width: 160px;
    margin: 0 15px;
    list-style: none;
    font-family: 'TA恋心', serif;
    font-size: 32px;
    border-color: black;
  }

  .global-nav a{
    color: #000;
    font-family: "ta-koigokoro", serif;
    text-decoration: none;

  }


  .global-nav a:hover{
    color: #F3CF14;
    border-color: #F3CF14;
  }

 .TOP{
    width: 1260px;
    height: 660px;
    box-sizing: border-box;
    margin: 0;
    
 }

 .TOP img{
  width: 100%;
  height: 100%;
  object-fit: contain;
 }

 .box{
  width: 1260px;
  display: flex;
  flex-wrap: wrap;
 }

 .item{
  width: 305px;
  background-color: #343859;
  margin: 20px 5px;
 }

 .picture{
  width: 295px;
  height: 183px;
 }

 .picture img{
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    object-fit: contain;
}

.title {
  width: 295px;
  height: 72px;
}

.title img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

p{
  color: white;
}


.place{
  font-size: 11px;
}

.place a{
  color: #FAFF00;
}
  
.item p{
  padding: 2px;
}




/* footer */

.flex{
  display: flex;
}


footer {
  height: 640px;
  background-color: #F5F5F5;
}
.footer-height {
  height: 584px;
}
footer .flex {
  justify-content: space-around;
}
footer .iwate {
  padding-top: 110px;
}
footer #size {
  width: 252px;
  height: 72px;
}
footer #font-size {
  font-size: 12px;
}
.m-auto {
  margin: 174px 0 0 0;
}
.introduction {
  margin-top: 103px;
}
.charm h1,
.introduction h1 {
  text-align: left;
  font-size: 24px;
}
.charm li,
.introduction li {
  padding-top: 22px;
  list-style: none;
  font-size: 18px;
  margin-right: 56px;
  text-align: left;
}
.m-left {
  margin-left: -39px;
}
.top-scroll {
  text-align: end;
  margin-right: 50px;
  & img {
      margin: 0 0 0 auto;
      width: 80px;
  }
}
.create {
  height: 56px;
  background-color: white;
  display: flex;
  margin-left: 30px;
  & h1 {
      font-size: 24px;
      /* vertical-align: middle; */
      text-align: center;
      color: black;
  }
}
footer a {
  text-decoration: none;
  color: black;
}


.top-scroll a{
  display: inline-block;
}
